/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  .black-gradient {
    background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .experience-section {
    margin-top: -20px; /* Adjust this value to move the section up */
    padding-bottom: 20px; /* Ensure there’s some spacing at the bottom if needed */
  }

  .scrollable-cards {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    padding-top: 40px; /* Add padding at the top of the cards container */
  }

  .scrollable-cards > * {
    flex: 0 0 auto; /* Ensure cards don't shrink */
    scroll-snap-align: start;
    margin-right: 16px; /* Adjust spacing between cards */
  }

  .scrollable-cards::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }

  .timeline-container {
    padding: 20px;
    border-left: 2px solid var(--purple);
  }
  
  .timeline-item {
    margin-bottom: 20px;
    position: relative;
  }
  
  .timeline-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .timeline-content {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid var(--neutral-400);
    position: relative;
  }
  
  .timeline-content::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--purple);
    border-radius: 50%;
    position: absolute;
    left: -16px;
    top: 5px;
  }

  .resume-section {
    text-align: center;
    margin-top: 20px;
  }
  
  .resume-section img {
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .resume-section img:hover {
    transform: scale(1.05);
  }
  
  .download-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: 2px solid #000; /* Adjust based on your theme */
    border-radius: 5px;
    text-decoration: none;
    color: #000; /* Adjust based on your theme */
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .download-button:hover {
    background-color: #000; /* Adjust based on your theme */
    color: #fff; /* Adjust based on your theme */
  }
  
  .bento-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .bento-grid-item {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .bento-grid-item:hover {
    transform: scale(1.05);
  }
  
  .bento-grid-item-image {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .bento-grid-item-title {
    font-size: 1.25rem;
    margin: 10px 0;
  }
  
  .bento-grid-item-description {
    font-size: 1rem;
    color: #666;
  }

  .bg-darkBlue {
    background-color: #0a1a36; /* Dark blue color */
  }

  .scrollable-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollable-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  .scrollable-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .scrollable-container {
    scroll-behavior: smooth; /* Enables smooth scrolling for supported browsers */
    transform: translateZ(0);
    max-height: 20rem; /* Adjust this value as needed */
    overflow-y: auto;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    grid-auto-rows: auto; /* Automatically adjust row height */
    gap: 1rem; /* Space between the cards */
  }
  
  .card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: 0.5rem;
  }
  
  
  
  
  
}
